APP_NAME=inventory-service
APP_VERSION=1.0.0
APP_ENV=development
APP_HOST=127.0.0.1
PORT=8003

# MongoDB configuration
MONGODB_URI=mongodb+srv://studenta2317_db_user:0PIoqT3qCnjkBPvP@computerrepairmanagemen.2c1rxqf.mongodb.net/?appName=ComputerRepairManagementSystem
MONGODB_DB_NAME=ComputerRepairManagementSystem
INVENTORY_COLLECTION=inventory_items
